In [5]:
import pandas as pd

In [6]:
df=pd.read_csv("s1.csv")

In [7]:
df.head()

     Sales Person    Geography               Product   Amount  Units
0      Ram Mahesh  New Zealand        70% Dark Bites  $1,624     114
1     Brien Boise          USA  Choco Coated Almonds  $6,706     459
2    Husein Augar          USA          Almond Choco    $959     147
3    Carla Molina       Canada         Drinking Coco  $9,632     288
4  Curtice Advani           UK            White Choc  $2,100     414

In [8]:
df.shape

(59, 5)

In [9]:
df.columns

Index(['Sales Person', 'Geography', 'Product', 'Amount', 'Units'], dtype='object')

In [10]:
df.iloc[147]

IndexError: single positional indexer is out-of-bounds

In [11]:
df["Amount"].idxmax()

TypeError: reduction operation 'argmax' not allowed for this dtype

In [12]:
df["Amount"].idxmin()

TypeError: reduction operation 'argmin' not allowed for this dtype

In [13]:
df=df.drop("Amount",axis=('columns'))

In [14]:
df.head()

     Sales Person    Geography               Product  Units
0      Ram Mahesh  New Zealand        70% Dark Bites    114
1     Brien Boise          USA  Choco Coated Almonds    459
2    Husein Augar          USA          Almond Choco    147
3    Carla Molina       Canada         Drinking Coco    288
4  Curtice Advani           UK            White Choc    414

In [15]:
df.iloc(58)

ValueError: No axis named 58 for object type DataFrame

In [25]:
df.iloc[58]

Sales Person          Husein Augar
Geography              New Zealand
Product         Manuka Honey Choco
Units                          273
Name: 58, dtype: object

In [26]:
df.iloc[14]

Sales Person    Gunar Cockshoot
Geography                   USA
Product              White Choc
Units                       234
Name: 14, dtype: object

In [16]:
df["Units"].idxmin()

9

In [17]:
df["Units"].idxmax()

57

In [18]:
df.duplicated().sum()

0

In [19]:
df.isna().sum()

Sales Person    0
Geography       0
Product         0
Units           0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sales Person  59 non-null     object
 1   Geography     59 non-null     object
 2   Product       59 non-null     object
 3   Units         59 non-null     int64
dtypes: int64(1), object(3)
memory usage: 2.0+ KB

In [21]:
df.describe()

            Units
count   59.000000
mean   155.084746
std    128.286222
min     12.000000
25%     58.500000
50%    141.000000
75%    207.000000
max    504.000000

In [22]:
df.corr()

C:\Users\hp\AppData\Local\Temp\ipykernel_9440\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

       Units
Units    1.0

In [23]:
df.corr()['Units'].sort_values()

C:\Users\hp\AppData\Local\Temp\ipykernel_9440\2407912129.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['Units'].sort_values()

Units    1.0
Name: Units, dtype: float64

In [24]:
df.sort_values(by='Units')

       Sales Person    Geography               Product  Units
33       Ram Mahesh           UK           After Nines     12
9      Gigi Bohling  New Zealand        50% Dark Bites     12
28     Gigi Bohling       Canada      Fruit & Nut Bars     15
31     Barr Faughny          USA       99% Dark & Pure     15
42   Curtice Advani        India       Raspberry Choco     15
44     Barr Faughny  New Zealand       99% Dark & Pure     18
40     Gigi Bohling        India   Organic Choco Syrup     21
46     Gigi Bohling    Australia  Choco Coated Almonds     21
29       Oby Sorrel  New Zealand      Fruit & Nut Bars     30
55       Ram Mahesh       Canada            White Choc     30
47  Gunar Cockshoot       Canada       Mint Chip Choco     36
56     Carla Molina        India               Eclairs     39
50     Gigi Bohling       Canada       Mint Chip Choco     39
6    Curtice Advani    Australia    Smooth Sliky Salty     54
13     Barr Faughny        India             Milk Bars     54
51   Curtice Advani       Canada   Spicy Special Slims     63
15  Gunar Cockshoot          USA    Manuka Honey Choco     66
54     Carla Molina          USA             Milk Bars     69
34     Carla Molina           UK        50% Dark Bites     72
8      Ches Bonnell    Australia        50% Dark Bites     75
52     Barr Faughny       Canada    Manuka Honey Choco     75
48   Curtice Advani        India    Manuka Honey Choco     75
38     Ches Bonnell        India  Choco Coated Almonds     75
16   Curtice Advani  New Zealand    Smooth Sliky Salty     87
20     Husein Augar        India      Fruit & Nut Bars     90
30     Carla Molina  New Zealand         85% Dark Bars    102
0        Ram Mahesh  New Zealand        70% Dark Bites    114
12     Husein Augar    Australia       Mint Chip Choco    120
39       Ram Mahesh        India   Organic Choco Syrup    135
22       Oby Sorrel    Australia           After Nines    141
36     Barr Faughny           UK  Caramel Stuffed Bars    144
11  Gunar Cockshoot  New Zealand               Eclairs    144
18     Carla Molina        India           After Nines    144
2      Husein Augar          USA          Almond Choco    147
41     Barr Faughny    Australia      Fruit & Nut Bars    153
49       Ram Mahesh        India               Eclairs    156
19     Barr Faughny           UK          Orange Choco    162
26  Gunar Cockshoot           UK       Mint Chip Choco    168
32      Brien Boise           UK        70% Dark Bites    183
53     Barr Faughny    Australia  Caramel Stuffed Bars    183
24     Carla Molina          USA       Raspberry Choco    186
45   Curtice Advani  New Zealand      Fruit & Nut Bars    189
27       Oby Sorrel          USA          Orange Choco    195
23      Brien Boise  New Zealand       99% Dark & Pure    204
7       Brien Boise          USA           After Nines    210
25     Carla Molina       Canada             Milk Bars    231
14  Gunar Cockshoot          USA            White Choc    234
21      Brien Boise    Australia      Fruit & Nut Bars    234
43  Gunar Cockshoot          USA        50% Dark Bites    255
58     Husein Augar  New Zealand    Manuka Honey Choco    273
35   Curtice Advani    Australia   Organic Choco Syrup    282
3      Carla Molina       Canada         Drinking Coco    288
17     Gigi Bohling        India          Orange Choco    339
37   Curtice Advani  New Zealand       Mint Chip Choco    405
4    Curtice Advani           UK            White Choc    414
5        Ram Mahesh          USA   Peanut Butter Cubes    432
1       Brien Boise          USA  Choco Coated Almonds    459
10     Barr Faughny           UK            White Choc    462
57  Gunar Cockshoot        India  Choco Coated Almonds    504