In [8]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Course Dataset.csv",index_col="DATE",parse_dates=True)

In [3]:
df.head()

              Price
DATE
1985-01-01  72.5052
1985-02-01  70.6720
1985-03-01  62.4502
1985-04-01  57.4714
1985-05-01  55.3151

In [4]:
df=pd.read_csv("Course Dataset.csv",index_col="DATE",parse_dates=False)

In [5]:
df.head()

              Price
DATE
01-01-1985  72.5052
02-01-1985  70.6720
03-01-1985  62.4502
04-01-1985  57.4714
05-01-1985  55.3151

In [12]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (0.13.5)
Requirement already satisfied: pandas>=0.25 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.5.3)
Requirement already satisfied: patsy>=0.5.2 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (23.0)
Requirement already satisfied: scipy>=1.3 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.10.1)
Requirement already satisfied: numpy>=1.17 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->statsmodels) (2022.7.1)
Requirement already satisfied: six in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
autocorrelation_lag1=df["Price"].autocorr(lag=1)
print("one month lag",autocorrelation_lag1)

one month lag 0.8717308657532122

In [17]:
autocorrelation_lag3=df["Price"].autocorr(lag=3)
print("three month lag",autocorrelation_lag3)

three month lag 0.5355867575850733

In [22]:
from statsmodels.tsa.stattools import adfuller
def adf_test(series):
    result=adfuller(series,autolag="AIC")
    labels=["ADF test statistics","p-value","#lags used","observations"]
    out=pd.Series(result[0:4],index=labels)
    print(out.to_string())
    if result[1]<=0.05:
        print("Reject the null hypothesis")
    else:
        print("fail to reject the null hypothesis")

In [23]:
adf_test(df["Price"])

ADF test statistics     -2.256990
p-value                  0.186215
#lags used              15.000000
observations           381.000000
fail to reject the null hypothesis